.carousel-container {
  position: relative;

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(3px);

 
}

.video-iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.content {
    width: 600px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.carousel-container {
  /* Carousel container styles */
}

.content {
  /* Content container styles */
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

.subscribe-form {
  margin-top: 20px;
}

input[type="email"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



