.navbar {
    width: 100%;
    height: 14vh;
    padding: 20px 0;
    background-color: rgba(202, 57, 238, 0.741);
  display: flex;
  justify-content: space-around;
  align-items: center;

 &__logo{
  img{
    width: 140px;
  }
 }
  ul{
    display: flex;
    gap: 20px;
    list-style: none;
    #link{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
  &__left{
    &__icon{
      display: flex;
      justify-content: center;
      gap: 10px;
      button{
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
display: flex;
align-items: center;
gap: 40px;
    button{
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
     
    }
  }
 
}
 .navbar__left__hamburger{
    display: none;
    #menuicon{
      color: white;
      font-weight: 700;
    }
  }


  @media only screen and (max-width: 940px){
   .navbar__left{
    display: none;
   }
    .navbar__left__hamburger{
      display: block;
    }
  }
  /* ... Mevcut CSS stilleri ... */

/* Yandan açılan menü için CSS stil tanımları */
.right-menu {
  position: fixed;
  top: 0;
  right: -250px; /* Menü başlangıçta sağda görünmez olacak */
  background-color: rgb(202, 57, 238); /* Mevcut arka plan rengi */
  width: 250px;
  height: 100%;
  padding-top: 80px;
  z-index: 999; /* Navbar'ın üstünde görüntülenmesini sağlar */
  transition: right 0.3s ease; /* Geçiş efekti ekleyin */
}

.right-menu.open {
  right: 0; /* Menüyü açıkken sağa doğru kaydırın */
}

.right-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.right-menu ul li {
  margin-bottom: 20px;
}

.right-menu a {
  text-decoration: none;
  color: white; /* Mevcut metin rengi */
  font-weight: 600; /* Mevcut metin font-weight */
}

.right-menu a:hover {
  color: #007bff; /* Mevcut metin hover rengi */
}



/* Kapatma düğmesi için stil */
.close-button {
  position: absolute;
  top: 20px;
  left: 20px; /* Sol üst köşede olacak */
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  z-index: 1000;
}

/* ... Diğer CSS stilleri ... */

#menuicon{
  background-color:transparent;
  border: none;
  cursor: pointer;
}
#closemenu{
  background-color:transparent;
  border: none; 
  color: white;
  cursor: pointer;
}